# OS files
.DS_Store
Thumbs.db
desktop.ini

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Arduino build artifacts
*.hex
*.elf
*.bin
build/

# Logs
*.log

# IDE
.vscode/
.idea/
*.suo
*.user