# GOOGLE_TTS_API_KEY=AIzaSyCEnvM5QiPpXLCIKihB3gwWqNtfHiPBHxQ
# GOOGLE_STT_API_KEY=AIzaSyAzGaAC0sVkNAiJZo7H_znX1bW_-C5THoY
# Copy the above keys to .env file for testing(Only for Dissertation, will be deleted later), 
# but replace them with your own Google Cloud API keys.

# Below is the format for your own keys:

GOOGLE_TTS_API_KEY=your-google-cloud-tts-api-key-here
GOOGLE_STT_API_KEY=your-google-cloud-stt-api-key-here



